@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


:root {
    --bg-color: #F9F9F9;
    --card-color: #FFFFFF;
    --btn-bg-color: #6F64F8;
    --text-color: #2C2C2C;
    --wishlist-color: #EDEDED;
}

body {
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
 }

.card {
    margin: 20px;
    background-color: var(--card-color);
    border-radius: 8px;
    float: left;
    width: 400px;
    height: 486px;
}

.card .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70.7%;
}

.rating-and-price {
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    line-height: 21px;
}


.rating {
    padding: 6px 25px 7px 10.8px;
    background-color: var(--btn-bg-color);
    color: var(--card-color);
    border-radius: 4px;
    background-image: url(/img/Star.svg);
    background-repeat: no-repeat;
    background-position:  bottom 8px right 3px;
    background-size: 20px;
    
<<<<<<< HEAD
}

.card-ul {
    list-style-type:none;
=======
>>>>>>> 36d37f4c9718d80c0bb9dc8a9ddf0325183c2c57
}

.price {
    padding: 6px 9.2px 7px 10.8px;
    font-weight: 600;
}

.item-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
}

.item-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.wishlist-cart-btn {
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 8px;
}

.wishlist.cart {
    display: flex;
    flex-grow: 1;
    border-bottom-left-radius: 8px;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

.wishlist, 
.cart {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 14px;
    line-height: 18px;
    max-width: 50%;
}

.wishlist {
    border-bottom-left-radius: 8px;
    padding: 8px;
    background-color: var(--wishlist-color);
    color: var(--text-color);
    background-image: url(/img/Path.svg);
    background-repeat: no-repeat;
    background-position: bottom 12px right 138px;
    background-size: 20px;

}

.wishlist-img {
    background-image: url(/img/Path.svg);
    background-repeat: no-repeat;
    background-position: left; 
    background-size: 20px;
}
.cart {
    border-bottom-right-radius: 8px;
    padding: 11.2px;
    background-color: var(--btn-bg-color);
    font-style: normal;
    color: var(--card-color);
    max-width: 50%;
    background-image: url(/img/shopping-bag.svg);
    background-repeat: no-repeat;
    background-position:  bottom 12px right 155px;
    background-size: 20px;
}


.wishlist-image {
    background-image: url(/img/shopping-bag.svg);
    background-repeat: no-repeat;
    background-position: left; 
    background-size: 20px;
}

